@media screen and (min-width: 1200px) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header {
        padding-bottom: 24px;
    }

    .header-item-link.active::after {
        bottom: -24px;
    }

    .header-contacts-list {
        gap: 40px;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .advantages-item {
        display: block;
        width: calc((100% - 72px) / 4);
    }

    .advantages-icon-box {
        background-color: var(--cloud);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 112px;
    }

    .advantages-item-title {
        margin-top: 8px;
    }

    .advantages-item:nth-child(n + 2) {
        margin-left: 24px;
    }

    .team-item:nth-child(n + 2) {
        margin-left: 24px;
    }

    .team-section {
        padding: 120px 67px 120px 67px;
    }

    .team-list {
        gap: 0;
        flex-wrap: nowrap;
    }

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);
        min-height: 88px;
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-section {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }

    .footer-subscribe {
        margin-top: 0;
        margin-left: 80px;
    }

    .footer-form {
    }
}