@media screen and (max-width: 480px) {
    .hero-section-title {
        width: 100%;
    }

    .customers-item {
        width: calc((100% - 16px) / 2);
    }
}
    
@media screen and (max-width: 767px) {
    
    .product-container {
        display: none;
    }

    .team-section {
        padding: 96px 0 128px 0;
    }

    .team-item {
        margin-left: auto;
        margin-right: auto;
    }

    .team-item:nth-child(n + 2) {
        margin-top: 72px;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 40px;
        padding-top: 80px;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 250ms var(--timing);
        display: flex;
        flex-direction: column;
    }

    .menu-container.is-open {
        transform: translateX(0);
    }
    .menu-toggle {
        right: 40px;
        top: 40px;
    }

    .menu-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }

    .mobile-menu-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: auto;

    }

    .mobile-menu-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }

    .mobile-menu-item:nth-child(n + 2),
    .mobile-contacts-item:nth-child(n + 2) {
        margin-top: 40px;
    }

    .mobile-contacts-list {
        padding: 0;
        list-style: none;
        margin-top: auto;
    }

    .mobile-contacts-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--slate);
    }

    .accent {
        font-size: 24px;
        line-height: 1.11;
        text-transform: capitalize;
        color: var(--iris);
    }

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: var(--ocean);
    }

    .mobile-social-list {
        max-width: 337px;
        display: flex;
        align-items: flex-end;
        margin-top: 48px;
        gap: calc((100% - 160px) / 3);
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 426px;
    }

    .accent {
        font-size: 36px;
    }

    .hero-section-title {
        font-size: 36px;
        width: 320px;
    }

    .modal {
        width: 408px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}